html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, 
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, 
footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

.headerMonth__container {
    width: 315px;
    display: flex;
}

.headerMonth__prev {
    width: 15%;
}

.headerMonth__next {
    width: 15%;
}

.headerMonth__prev_none {
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.headerMonth__prev_none:hover {
    cursor: pointer;
}


.headerMonth__monthName {
    width: 50%;
    text-align: center;
}

.headerYear__year {
    width: 20%;
    
}

.daysContainer {
    width: 315px;
    display: flex;
}

.daysContainer__week {
    width: 45px;
    height: 18px;
    color: rgb(20, 0, 136);
    text-align: center;
    font-weight: bold;
}

.daysTablet {
    width: 315px;
    height: 110px;
    overflow: hidden;
}

.dayCell {
    width: 45px;
    height: 18px;
    display: inline-block;
    text-align: center;
}


