.mdb-movies-describe__links-container {
    display: flex;
    flex-direction: row-reverse;
}

.mdb-movies-describe__container {
    width: 95%;
    margin: 5% 0 0 5%;
}

.mdb-movies-describe__poster-and-text {
    display: flex;
}

.mdb-movies-describe__poster {
    margin: 0 0 0 3%;
}

.mdb-movies-describe__overview {
    padding: 0 5%;
}

.mdb-movies-describe__title-text {
    font-size: 1.5em;
    font-weight: bold;
}

.mdb-movies-describe__describe-text {
    height: 250px;
    overflow-y: auto;
}

.mdb-movies-describe__text {
    width: 80%;
    margin: 0 2%;
}

.mdb-movies-describe__genres-and-popular {
    display: flex;
    margin: 2% 0 0 3%;
}

.mdb-movies-describe__genres {
    width: 35%;
}

.mdb-movies-describe__popular {
    width: 20%;
    margin: 0 5%;
}

.mdb-movies-describe__pop-container {
    width: 100%;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.mdb-movies-describe__popularity {
    height: 20px;
}

.mdb-movies-describe__popularity_orange {
    background-color: rgb(174, 187, 0);
}

.mdb-movies-describe__popularity_green {
    background-color: rgb(3, 163, 43);
}

.mdb-movies-describe__recommend {
    width: 50vw;
    margin: 3% auto;
}

.mdb-movies-describe__recommend-title {
    font-size: 1.2em;
}

.mdb-movies-describe__recommend-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.mdb-movies-describe__mini-poster {
    width: 93px;
    height: 138px;
    padding: 5px 10px;
}
