.mdb-form__genre {
    margin: 0 0 0 5%;
}

.mdb-form__genre-cols {
    display: flex;
    padding: 10px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.mdb-form__genre-column {
    width: 50%;
}

.mdb-form__error-checkbox {
    padding: 10px;
}