.mdb-links__container {
    width: 35vw;
    margin: 4% 0 0 0;
}

.mdb-links__header-link {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    border-right: 2px solid rgb(83, 83, 83);
    color: rgb(26, 26, 26);
    font-size: 18px;
    font-weight: bold;
}

.mdb-links__header-link_final-link {
    border: none;
}